* {
    margin: 0;
}

body {
    /* font-style: oblique; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

image {
    width: 100%;
}

.header {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
}

.left {
    width: 50%;
}

.left img {
    object-fit: scale-down;
    width: 3.5%;
}

.center {
    width: 50%;
}

.center button {
    margin-left: 35%;
    background-color: black;
    color: white;
    border: none;
    width: 10%;
}

.mobile-centered {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.user-interface {
    padding-top: 9%;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.icon {
    font-size: 14px;
    font-weight: normal;
    padding: 2%;
}

.invite-pic img {
    /* width: 50%; */
    object-fit: contain;
    height: 100%;

}

.grey-color {
    background-color: rgb(51, 48, 48);
    height: 275px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 22px;
}

.clients,
.project {
    margin-top: 4%;
}

.deliver-product {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2% 0;
}

.we-deliver {
    padding-top: 8%;
}

.we-deliver p {
    font-size: 35px;
    font-weight: bolder;
}

.we-deliver span {
    text-decoration: underline;
}

.we-deliver li {
    padding: 2%;
}

#one {
    color: firebrick;
}

#two {
    color: aqua;
}

#three {
    color: yellow;
}

#four {
    color: yellowgreen;
}

.we-deliver b {
    color: black;
}

.sydney {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 1.5%;
}

.sydney-left {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    padding-left: 14%;
}

.develop-product p {
    padding-top: 1%;
    padding: 5px;
    font-size: 14px;
    color: gray;
}

.develop-product {
    font-size: 20px;
}

.mobile-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.sanchez-pics img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.customers-love {
    margin: 6% 0;
    text-align: center;
    font-size: 24px;
}

.read-more {
    display: flex;
    justify-content: space-around;
}

.higgs .isabella .guzman {
    box-shadow: 5px 10px #888888;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.read-more img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.guzman-details {
    text-align: center;
    font-size: 12px;
    width: 26%;
    color: #888888;
}

.come-on {
    background-image: url(image/dribble7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
}

.have-fun {
    padding-top: 10%;
    font-size: 32px;
}

.come-on button {
    background-color: rgb(51, 48, 48);
    border: none;
    color: white;
    border-radius: 25%;
    width: 18%;
    height: 75px;
    margin-top: 3%;
}